<launch>

  <node name="recognizer" pkg="pocketsphinx" type="recognizer.py">
    <param name="lm" value="$(find spirit_demon_voice)/data/voice.lm"/>
    <param name="dict" value="$(find spirit_demon_voice)/data/voice.dic"/>
  </node>
  <node name="voice_node" pkg="spirit_demon_voice" type="voice_node">
  </node>
</launch>


